In [2]:
import pandas as pd
import numpy as np

# 2. Cargar dataset
df = pd.read_csv("C:/Users/lmosquen/Desktop/Python/Ciencia de datos/Día 9/Ventas.csv")
df.head()

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [3]:
# 3. Exploración inicial
# Info general
df.info()

# Estadísticas básicas
df.describe()

# Valores nulos
df.isnull().sum()

# Valores duplicados
df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1000 non-null   object
 1   Producto         1000 non-null   object
 2   Cantidad         1000 non-null   int64
 3   Precio Unitario  1000 non-null   int64
 4   Total Venta      1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

27

In [4]:
# 4. Limpieza de datos

# Convertir columna Fecha a datetime
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')

# Corregir posibles errores de categorías en 'Producto'
df['Producto'] = df['Producto'].str.strip().str.title()

# Ver categorías únicas
df['Producto'].unique()

array(['Electrónic', 'Juguetes', 'Alimentos', 'Ropa', 'Libros'],
      dtype=object)

In [5]:
# 5. Consistencia de los valores numéricos
# Crear una columna calculada
df['Total_Calc'] = df['Cantidad'] * df['Precio Unitario']

# Comparar con la columna original
inconsistencias = df[df['Total Venta'] != df['Total_Calc']]
inconsistencias.head()

Empty DataFrame
Columns: [Fecha, Producto, Cantidad, Precio Unitario, Total Venta, Total_Calc]
Index: []

In [7]:
# 6. Guardar dataset limpio
df.to_csv("C:/Users/lmosquen/Desktop/Python/Ciencia de datos/Día 9/Ventas_clean.csv", index=False)
print("Archivo limpio guardado como Ventas_clean.csv")

Archivo limpio guardado como Ventas_clean.csv